<div class="main user-show">
  <div class="container">
    <div class="userdetails">
      <!-- img src="%= "/user_images/#{@user.image_name}" %>"> -->
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    <ul class="user-tabs">
      <li class="active"><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>
    <% @user.posts.each do |post| %>
    <div class="work">
      <div class="posts-index-title">
        <%= link_to(post.title,"/posts/#{post.id}")%>
      </div>
      <div class="posts-index-content">
        <%= link_to(post.content,"/posts/#{post.id}")%>
      </div>
      <div class="posts-index-details">
        <p>カテゴリー：<%= link_to(post.category,"/posts/#{post.id}")%></p>
        <p>文字数：</p>
        <p>更新日：<%= link_to(post.created_at,"/posts/#{post.id}")%></p>
      </div>
    </div>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>
